<nav class="navbar navbar-dark bg-success sticky-top">
  <a class="navbar-brand" href="/">Helpful Spirits</a>
  <form class="form-inline">
    <input class="form-control mr-sm-1 " type="search" placeholder="Search for posts" aria-label="Search for posts">
    <button class="btn btn-outline-light my-1 my-sm-0 mx-1" type="submit">Search</button>
    <a class="btn btn-outline-light my-1 my-0 mx-1" href="/posters">Show All</a>
  </form>
  <ul class="nav list-inline">
    <li class="nav-item">
      <a class="nav-link btn btn-outline-light mx-1" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-light mx-1" href="/register">Register</a>
    </li>

  </ul>
</nav>