<nav class="navbar navbar-dark bg-success sticky-top">
  <a class="navbar-brand" href="/">Helpful Spirits</a>
  
  <ul class="nav list-inline">
    <li class="nav-item">
      <a class="nav-link btn btn-outline-light mx-1" href="/add_poster">Add announcement</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-light mx-1" href="/posters">Annoucements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-light mx-1" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-light mx-1" href="/register">Register</a>
    </li>
  </ul>
</nav>