<nav class="navbar navbar-dark bg-success sticky-top">
    <a class="navbar-brand" href="/">Helpful Spirits</a>
    <form class="form-inline">
        <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-1 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="nav list-inline">
        <li class="nav-item">
          <a class="nav-link" href="/login"><button class="btn btn-outline-light" type="submit">Login</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register"><button class="btn btn-outline-light" type="submit">Register</button></a>
        </li>

    </ul>
  </nav>