{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block body %}
<style>
    .jumbotron {
        background: url('https://i.imgur.com/R7VIg2y.jpg') no-repeat center center !important;
        margin-bottom: 0px;
        height: 350px;
        color: white;
        text-shadow: black 0.2em 0.2em 0.2em;
        background: transparent;
    }
</style>
<div class="jumbotron">
    <h1 class="display-3">Helpful Spirits</h1>
    <p class="lead">We belive in the Spirit of Giving!</p>
    <hr class="my-2">
    <p></p>
    {% if not current_user.is_authenticated %} 
    <p class="lead">
        <a class="btn btn-success btn-lg" href="/register" role="button">Join us!</a>
    </p>
    {% else %}
    <p class="lead">
            <a class="btn btn-success btn-lg" href="my_profile" role="button">Welcome back, {{ current_user.firstname }}!</a>    
    </p>
    {% endif %}
</div>
<div style="background-color: #f8f9fa;" class="px-3 py-3">
    <h1 class="text-center">About us</h1>
    <p class="lead">
        We are a continously growing community of volunteers.
    </p>
</div>
{% endblock %}