{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block body %} 
<div class="jumbotron">
    <h1 class="display-3">Helpful Spirits!</h1>
    <p class="lead">Lorem ipsum dolor sit amet.</p>
    <hr class="my-2">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, quaerat nulla et autem sunt ea culpa tempore repellat molestias ipsa perspiciatis eveniet in dolor fugiat quam corrupti cumque? Voluptatum, fuga.</p>
    <p class="lead">
        <a class="btn btn-success btn-lg" href="/register" role="button">Join us!</a>
    </p>
</div>
{% endblock %}
