{% extends 'base.html' %}
{% block title %} Posters {% endblock %}

{% block body %}
    <div id="wrapper-div row container" style="background-color: #f8f9fa;">

        <div class="col-4">
            FILTER_PLACEHOLDER
        </div>
        <div class="col-8">
            <div id="posters">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Submit date</th>
                        <th scope="col">Finish date</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for poster, index in posters %}
                        <tr>
                            <th scope="row">{{ index + 1 }}</th>
                            <td>{{ poster.title }}</td>
                            <td>{{ poster.description }}</td>
                            <td>{{ poster.add_date }}</td>
                            <td>{{ poster.end_date }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>

    </div>
{% endblock %}

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>