{% extends 'base.html' %}
{% from "includes/_forms.html" import render_field %}

{% block title %} User Login {% endblock %}

{% block body %}
    <div id="wrapper-div" class="py-3" style="background-color: #f8f9fa;">
        {% if form.errors %}
            <div class="alert alert-danger py-2 my-1">Wrong data!</div>
        {% endif %}

        {% if form.city_error %}
            <div class="alert alert-danger py-2 my-1">Wrong city!</div>
        {% endif %}
        {% if form.category_error %}
            <div class="alert alert-danger py-2 my-1">Wrong category!</div>
        {% endif %}

        {% if form.date_error %}
            <div class="alert alert-danger py-2 my-1">Wrong date!</div>
        {% endif %}


        <table class="table text-center">
            <thead class="thead-dark">

            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Location</th>
                <th scope="col">Category</th>
                <th scope="col">Author</th>
                <th scope="col">Submit date</th>
                <th scope="col">Finish date</th>
            </tr>
            <tr>
                <td>{{ poster.title }}</td>
                <td>{{ poster.description[0:18] }}{% if poster.description[18]!=nil %}
                    ...{% endif %}</td>
                <td>{{ poster.location.city.name }}</td>
                <td>{{ poster.category.name }}</td>
                <td>{{ poster.victim.name }} {{ poster.victim.surname }}</td>
                <td>{{ poster.add_date }}</td>
                <td>{{ poster.end_date }}</td>
            </tr>
            </thead>
        </table>

    </div>


{% endblock %}


