{% extends 'base.html' %}
{% block title %} Posters {% endblock %}

{% block body %}
    <div id="wrapper-div" style="background-color: #f8f9fa;">
        <div class="row py-3 px-3">
            <div class="col-3 text-center">
                <h2>Filters</h2>
                <p>
                    Filters place


                </p>
            </div>
            <div class="col-9">
                <div id="posters">
                    <table class="table text-center">
                        <thead class="thead-dark">

                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Location</th>
                            <th scope="col">Category</th>
                            <th scope="col">Submit date</th>
                            <th scope="col">Finish date</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for poster, index in posters %}
                            <tr>
                                <th scope="row">{{ index +  1 }}</th>
                                <td><a href="/posters/{{ poster.id }}" > {{ poster.title }}</a></td>
                                <td>{{ poster.description[0:18] }}{% if poster.description[18]!=nil %}
                                    ...{% endif %}</td>
                                <td>{{ poster.location.city.name }}</td>
                                <td>{{ poster.category.name }}</td>
                                <td>{{ poster.add_date }}</td>
                                <td>{{ poster.end_date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}